:root {
  --mainBackground: #ffffff;
}

.darkModeOn {
  --mainBackground: black;
  color: white;
}

.darkModeOff {
  --mainBackground: #ffffff;
  color: black;
}

body {
  background-color: var(--mainBackground);
  font-family: 'Inter', sans-serif;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  position: relative;
  text-align: center;
}
h2{
  margin: 0, auto,0,auto;
  font-size: 1.5rem;
}
.main {
  /*background-color: #7895B2;
  background: linear-gradient(275.02deg, #FFB0F7 2.14%, #00E0FF 98.21%); */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-size: 36px; */
}

.logo {
  border-radius: 50%;
}

.circle1 {
  position: relative;
  width: 1.75rem;
  height: 1.75rem;
  background: linear-gradient(211.02deg, #00E0FF 21.55%, #FFB0F7 78.75%);
  transform: rotate(-90deg);
  transition:
}

.circle2 {
  transform: translate(33%, 33%);
  width: 1.0625rem;
  height: 1.0625rem;
  background: var(--mainBackground);
}

.articleContent {
  background: linear-gradient(275.02deg, #FFB0F7 2.14%, #00E0FF 98.21%);
  padding-top: 3%;
  padding-bottom: 3%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3%;

}
.roundPicture{
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 40%;
   max-width: 150px;

}
